{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Логин</title>
</head>
<body>
<div class="login-bg">
   <div class="login-box-input">
       <div class="login-box">
           <form method="post">
               <div class="login-label">
                   <div class="reg-text">Логин</div>

               </div>
               {% csrf_token %}
        <div class="login-from">
            {% for f in form %}
                <div class="label-input"><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}:</label>
                <p class="form-input2">{{ f }}</p></div>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
        </div>
            <div class="btn-pos"><button type="submit" class="btn-reg">Войти</button></div>
        </form>

    </div>
</div>
</div>
</body>
</html>