{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/startpage.css' %}">
    <title>Document</title>
</head>
<body>
      <div class="main-block">
      <div class="header">
        <div class="header-container">
          <div class="header-logo">
              <a class="logo">LOGO</a>
          </div>
            <div class="links-pos">
            <div class="header-links">
                <a href="#" class="link">Наши сервера</a>
                <a href="#" class="link">Помощь</a>
                <a href="#" class="link">О нас</a>
            </div>
            </div>
            <div class="login-reg">
              <a href="#" class="login">Войти на сайт</a>
              <a href="#" class="start">Начать играть</a>
          </div>
        </div>
    </div>
    <div class="main-content">
        <div class="start-text">
            <h2 class="start-text-box">Тут какой-то текст про то какой крутой проект и всё такое</h2>
        </div>
        <div class="person"></div>


    </div>

</div>
</body>
</html>